$max-width: 700px;

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $font-default;
	font-weight: 400;
	font-size: 22px;
	background: $color-background;
	color: $color-gray01;
	-webkit-font-smoothing: antialiased;

	@media screen and (max-width: 1040px){
		margin: 0 20px;
	}
	@media screen and (max-width: 600px){
		font-size: 13px;
	}
}

p {
	font-size: 22px;
	line-height: 1.45;
	text-align: left;
	font-weight: 400;
	color: $color-gray01;	

	margin-bottom: 31px;

	a {
		text-decoration: underline !important;
	}
}

strong {
	font-weight: 500;
}

h1{
	font-size: 52px;
	font-family: 'freight-sans-pro', sans-serif;
	margin-bottom: 2em;
}

h2{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 2em;
	font-family: 'freight-sans-pro', sans-serif;
}
h3{
	font-size: 1.3em;
	font-weight: 300;
}
a{
	text-decoration: underline;;
	outline-width: 0;
	color: $color-main;

	&:active, &:hover {
		color:#c00;
	};
}

.typekit-badge {
	display: none !important;
}

.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 1040px){
		width: 100%;
	}
}

.code {

}

#recentposts {
	margin-top: 1em;

	a:hover {
		text-decoration: underline;
	}

	li {
		list-style: none;
	}

	time {
		float: right;
	}
}

#aboutme {
	background: url(https://secure.gravatar.com/avatar/f7c8edd577d13b8930d5522f28123510?s=300) top right no-repeat;	
	min-height: 300px;
	width: 100%;

	text-align: left;
	margin: 0;
	padding: 0;

	ul {
		li {
			list-style: none;
		}

		margin-bottom: 1em;
	}

	h2 {
		text-align: left !important;
		margin: 0;
		padding: 0;
		clear: both;
		margin-bottom: 0.5em;
	}
}